@model PhotosUploader.ViewModels.Photos.CreatePhotoModel

<form asp-controller="Photos" asp-action="Create" enctype="multipart/form-data">

    <div class="row">

        <div class="form-group col-md-12">

            <div data-roveuploader>

                <input name="Photos[0].File" type="file" multiple>
                <input name="Photos[0].IsPrimary" data-photoupload-isprimary>
                <input name="Photos[0].Size" data-photoupload-size>

            </div>

        </div>

    </div>

    <button id="submit-ajax" type="button" class="btn btn-secondary">Upload Ajax</button>

</form>