@model PhotosUploader.ViewModels.Photos.CreatePhotoModel

<h1>Add Photos</h1>

<form asp-controller="Photos" asp-action="Create" enctype="multipart/form-data">

    <div class="row">

        <div class="form-group col-md-12">

            @*<label asp-for="Files">Choose file</label>*@
            <input asp-for="Files" data-roveuploader>

        </div>

    </div>

    <button type="submit" class="btn btn-primary">Update Photos</button>
    <button type="button" class="btn btn-secondary">Upload Ajax</button>

</form>