@model PhotosUploader.ViewModels.Photos.CreatePhotoModel

<form asp-controller="Photos" asp-action="Create" enctype="multipart/form-data">

    <div class="row">

        <div class="form-group col-md-12">

            <div data-photouploader></div>

        </div>

    </div>

    <button id="submit-ajax" type="button" class="btn btn-secondary">Upload Ajax</button>

</form>